distros/ubuntu-18.04/src
distros/fedora-28/src
source-commit.*
snp-release*
heckler-snp*
local-installation/
linux/backup
linux/compile_commands*
linux/linux-*
usr/
mantic-server-cloudimg*
launch-qemu-old.sh
modules/

# XXX: We dont use submodules here, clone with scripts instead
qemu/
ovmf/
linux/

edk2

monitor
*.o

# Image
Image.fd
Image.qcow2stdout.log
Image.qcow2
stdout.log
VM_DISK.fd
VM_DISK.qcow2
venv
linux
.idea
.code
run_bene.sh


VM_DISK_ssh.fd
VM_DISK_sudo.qcow2
VM_DISK_sudo.fd
VM_DISK_ssh.qcow2
